footer {
  display: block;
  border: 3px solid black;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  background-color: gray;
  color: black;
  margin: 450px 450px 0;
}
body {
  background-image: url(./assets/final-img.jpg);
  background-position: center;
  background-size: 41cm;
  background-repeat: no-repeat;
  height: 100vh;
}
a {
  display: block;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  padding: 5px;
  font-size: large;
}
#the-end a {
  display: block;
  border: 2px solid cyan;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  background-color: gray;
  color: white;
  padding: 5px;
  margin: 5px 400px 0;
  text-decoration: none;
}
